<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/repos">repo's</a></li>
        <li><a href="/blog">blog</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div><!-- end container div -->
    <footer>
      <ul>
        <li>My freelance site: <a href="http://freelanceitsolutions.com">Freelance I.T. Solutions</a></li>
        <li>On GitHub: <a href="https://github.com/DynamicProgramr/">github.com/DynamicProgramr</a></li>
        <li>Email: <a href="mailto:russ@freelanceitsolutions.com">russ@freelanceitsolutions.com</a></li>
        <li>Blog <a href="http://dynamicprogramr.github.io/blog/atom.xml">RSS</a></li>
      </ul>
    </footer>
  </body>
</html>
